.body{
  height: 100%;
}

.buttons,
.main .profile {
    display: flex;
    justify-content: left;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh  - (var(--gap) * 2));
    font-size: var(--homesize);
    line-height: var(--lineheight);
    text-align: left;
}

.profile .profile_inner h1 {
    padding: 12px 0;
    font-size: 40px;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: none;
}

.button {
    background: transparent;
    border-radius: var(--radius);
    margin: 8px 16px 8px 0px;
    padding: 0px;
    /* transition: transform 0.1s; */
}

.button-inner {
    padding: 0 0px;
    border-radius: 2px;
    border-bottom: 2px solid var(--link-col);
    transition: transform 5s ease-in;
}

.button-inner:hover {
    border-bottom: 2px solid var(--hover-link);
}
